/* import styling for the react-vis charts*/
@import "../node_modules/react-vis/dist/style";

/* set the background color of the page */
Body {
  background-color: #282c34;
}

.App {
  display: flex;
  justify-content: space-around;
}

.CenterScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.Title {
  font-size: calc(50px + 2vmin);
}

.App-link {
  color: #61dafb;
}
