/* import styling for the react-vis charts*/
@import "../node_modules/react-vis/dist/style";

/* set the background color of the page */
Body {
  background-color: #282c34;
}

.App {
  justify-content: space-around;
}

.CenterScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

div#AboutSection {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.AboutTitle {
  position: relative;
  margin-bottom: 0px;
}

.DatasetsTitle {
  position: relative;
  margin-bottom: 0px;
}

.LinksTitle {
  position: relative;
  margin-bottom: 0px;
}

p {
  margin-left: 50px;
  margin-right: 50px;
}

a {
  color: orange;
}

.Title {
  font-size: calc(50px + 2vmin);
  margin-bottom: 25px;
}

.App-link {
  color: #61dafb;
}
